In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1=pd.read_csv('/kaggle/input/titanic/train.csv')
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df1.shape

(891, 12)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
df1['Pclass'].unique()

array([3, 1, 2])

In [7]:
df1['Sex'].unique()

array(['male', 'female'], dtype=object)

In [8]:
df1['Survived'].unique()

array([0, 1])

In [9]:
df1['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [10]:
df1.duplicated().sum()

0

In [11]:
df1.drop(columns=["Name","Ticket","Fare",],axis=1,inplace=True)
df1.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Cabin Embarked
0            1         0       3    male  22.0      1      0   NaN        S
1            2         1       1  female  38.0      1      0   C85        C
2            3         1       3  female  26.0      0      0   NaN        S
3            4         1       1  female  35.0      1      0  C123        S
4            5         0       3    male  35.0      0      0   NaN        S

In [12]:
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Cabin          687
Embarked         2
dtype: int64

In [13]:
df1["Age"].mean()

29.69911764705882

In [14]:
df1["Age"].median()

28.0

In [15]:
df1["Age"].mode()

0    24.0
dtype: float64

In [16]:
df1["Age"].fillna(df1["Age"].mean(),inplace=True)

In [17]:
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age              0
SibSp            0
Parch            0
Cabin          687
Embarked         2
dtype: int64

In [18]:
df1.drop("Cabin",axis=1,inplace=True)

In [19]:
df1.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0            1         0       3    male  22.0      1      0        S
1            2         1       1  female  38.0      1      0        C
2            3         1       3  female  26.0      0      0        S
3            4         1       1  female  35.0      1      0        S
4            5         0       3    male  35.0      0      0        S

In [20]:
df1["Embarked"].fillna( method ='ffill',limit=1,inplace = True)

In [21]:
df1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [22]:
df1.skew()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          3.695352
Parch          2.749117
dtype: float64

In [23]:
q1=df1["SibSp"].quantile(0.25)
q2=df1["SibSp"].quantile(0.75)

In [24]:
q1

0.0

In [25]:
q2

1.0

In [26]:
df1["SibSp"]=np.where(df1["SibSp"]<q1,q1,df1["SibSp"])
df1["SibSp"]=np.where(df1["SibSp"]>q2,q2,df1["SibSp"])

In [27]:
df1["SibSp"].skew()

0.7848206976782393

In [28]:
df1["Parch"]=np.sqrt(df1["Parch"])
df1["Parch"].skew()

1.5297990732860154

In [29]:
df1.skew()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          0.784821
Parch          1.529799
dtype: float64

In [30]:
dummies=pd.get_dummies(df1.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [31]:
df1=pd.concat([dummies,df1],axis=1)

In [32]:
df1.head()

,female,male,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked
0,0,1,1,0,3,male,22.0,1.0,0.0,S
1,1,0,2,1,1,female,38.0,1.0,0.0,C
2,1,0,3,1,3,female,26.0,0.0,0.0,S
3,1,0,4,1,1,female,35.0,1.0,0.0,S
4,0,1,5,0,3,male,35.0,0.0,0.0,S

In [33]:
dummies=pd.get_dummies(df1.Embarked)
dummies.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [34]:
df1=pd.concat([dummies,df1],axis=1)

In [35]:
df1.drop("Sex",axis=1,inplace=True)

In [36]:
df1.drop("Embarked",axis=1,inplace=True)

In [37]:
df1.head()

   C  Q  S  female  male  PassengerId  Survived  Pclass   Age  SibSp  Parch
0  0  0  1       0     1            1         0       3  22.0    1.0    0.0
1  1  0  0       1     0            2         1       1  38.0    1.0    0.0
2  0  0  1       1     0            3         1       3  26.0    0.0    0.0
3  0  0  1       1     0            4         1       1  35.0    1.0    0.0
4  0  0  1       0     1            5         0       3  35.0    0.0    0.0

In [38]:
df1.corr()

,C,Q,S,female,male,PassengerId,Survived,Pclass,Age,SibSp,Parch
C,1.000000,-0.149857,-0.781213,0.086546,-0.086546,-0.005476,0.171485,-0.247223,0.033780,0.032727,0.010243
Q,-0.149857,1.000000,-0.500146,0.079067,-0.079067,-0.027482,0.008660,0.213504,-0.003904,-0.057785,-0.096687
S,-0.781213,-0.500146,1.000000,-0.125722,0.125722,0.022148,-0.155660,0.081720,-0.027121,0.007822,0.052077
female,0.086546,0.079067,-0.125722,1.000000,-1.000000,-0.042939,0.543351,-0.131900,-0.084153,0.203203,0.257096
male,-0.086546,-0.079067,0.125722,-1.000000,1.000000,0.042939,-0.543351,0.131900,0.084153,-0.203203,-0.257096
PassengerId,-0.005476,-0.027482,0.022148,-0.042939,0.042939,1.000000,-0.005007,-0.035144,0.033207,-0.053397,0.000348
Survived,0.171485,0.008660,-0.155660,0.543351,-0.543351,-0.005007,1.000000,-0.338481,-0.069809,0.115867,0.121652
Pclass,-0.247223,0.213504,0.081720,-0.131900,0.131900,-0.035144,-0.338481,1.000000,-0.331339,-0.076009,-0.006792
Age,0.033780,-0.003904,-0.027121,-0.084153,0.084153,0.033207,-0.069809,-0.331339,1.000000,-0.148409,-0.237261
SibSp,0.032727,-0.057785,0.007822,0.203203,-0.203203,-0.053397,0.115867,-0.076009,-0.148409,1.000000,0.404346
Parch,0.010243,-0.096687,0.052077,0.257096,-0.257096,0.000348,0.121652,-0.006792,-0.237261,0.404346,1.000000

In [39]:
x_train=df1.drop("Survived",axis=1)

In [40]:
y_train=df1.Survived

In [41]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [42]:
df2=pd.read_csv("/kaggle/input/titanic/test.csv")
df2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [44]:
df2.shape

(418, 11)

In [45]:
df2.duplicated().sum()

0

In [46]:
df2.drop(columns=["Name","Ticket","Fare","Cabin"],axis=1,inplace=True)

In [47]:
df2.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch Embarked
0          892       3    male  34.5      0      0        Q
1          893       3  female  47.0      1      0        S
2          894       2    male  62.0      0      0        Q
3          895       3    male  27.0      0      0        S
4          896       3  female  22.0      1      1        S

In [48]:
df2.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Embarked        0
dtype: int64

In [49]:
df2["Age"].mean()

30.272590361445783

In [50]:
df2["Age"].median()

27.0

In [51]:
df2["Age"].fillna(df2["Age"].median(),inplace=True)

In [52]:
df2.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [53]:
df2.skew()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

PassengerId    0.000000
Pclass        -0.534170
Age            0.660747
SibSp          4.168337
Parch          4.654462
dtype: float64

In [54]:
df2["SibSp"]=np.sqrt(df2["SibSp"])

In [55]:
df2["SibSp"].skew()

1.291589637233114

In [56]:
df2["Parch"]=np.sqrt(df2["Parch"])
df2["Parch"].skew()

1.8791559278126866

In [57]:
df2.skew()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

PassengerId    0.000000
Pclass        -0.534170
Age            0.660747
SibSp          1.291590
Parch          1.879156
dtype: float64

In [58]:
dummies=pd.get_dummies(df2.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0

In [59]:
df2=pd.concat([dummies,df2],axis=1)
df2.head()

   female  male  PassengerId  Pclass     Sex   Age  SibSp  Parch Embarked
0       0     1          892       3    male  34.5    0.0    0.0        Q
1       1     0          893       3  female  47.0    1.0    0.0        S
2       0     1          894       2    male  62.0    0.0    0.0        Q
3       0     1          895       3    male  27.0    0.0    0.0        S
4       1     0          896       3  female  22.0    1.0    1.0        S

In [60]:
df2.drop("Sex",axis=1,inplace=True)

In [61]:
dummies=pd.get_dummies(df2.Embarked)
dummies.head()

   C  Q  S
0  0  1  0
1  0  0  1
2  0  1  0
3  0  0  1
4  0  0  1

In [62]:
df2=pd.concat([dummies,df2],axis=1)
df2.head()

   C  Q  S  female  male  PassengerId  Pclass   Age  SibSp  Parch Embarked
0  0  1  0       0     1          892       3  34.5    0.0    0.0        Q
1  0  0  1       1     0          893       3  47.0    1.0    0.0        S
2  0  1  0       0     1          894       2  62.0    0.0    0.0        Q
3  0  0  1       0     1          895       3  27.0    0.0    0.0        S
4  0  0  1       1     0          896       3  22.0    1.0    1.0        S

In [63]:
df2.drop("Embarked",axis=1,inplace=True)

In [64]:
df2.head()

   C  Q  S  female  male  PassengerId  Pclass   Age  SibSp  Parch
0  0  1  0       0     1          892       3  34.5    0.0    0.0
1  0  0  1       1     0          893       3  47.0    1.0    0.0
2  0  1  0       0     1          894       2  62.0    0.0    0.0
3  0  0  1       0     1          895       3  27.0    0.0    0.0
4  0  0  1       1     0          896       3  22.0    1.0    1.0

In [65]:
df2.corr()

,C,Q,S,female,male,PassengerId,Pclass,Age,SibSp,Parch
C,1.000000,-0.199786,-0.767375,0.033684,-0.033684,-0.027419,-0.318543,0.162147,0.039761,0.040100
Q,-0.199786,1.000000,-0.474962,0.115574,-0.115574,-0.035731,0.252608,-0.041310,-0.141611,-0.164888
S,-0.767375,-0.474962,1.000000,-0.105883,0.105883,0.048008,0.120783,-0.118594,0.056959,0.071887
female,0.033684,0.115574,-0.105883,1.000000,-1.000000,-0.023245,-0.108615,0.008035,0.140068,0.210501
male,-0.033684,-0.115574,0.105883,-1.000000,1.000000,0.023245,0.108615,-0.008035,-0.140068,-0.210501
PassengerId,-0.027419,-0.035731,0.048008,-0.023245,0.023245,1.000000,-0.026751,-0.031447,-0.005093,0.048247
Pclass,-0.318543,0.252608,0.120783,-0.108615,0.108615,-0.026751,1.000000,-0.467853,-0.083845,-0.021851
Age,0.162147,-0.041310,-0.118594,0.008035,-0.008035,-0.031447,-0.467853,1.000000,-0.009178,-0.091902
SibSp,0.039761,-0.141611,0.056959,0.140068,-0.140068,-0.005093,-0.083845,-0.009178,1.000000,0.415791
Parch,0.040100,-0.164888,0.071887,0.210501,-0.210501,0.048247,-0.021851,-0.091902,0.415791,1.000000

In [66]:
y_pred=model.predict(df2)

In [67]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [68]:
model.predict_proba(df2)

array([[0.9198871 , 0.0801129 ],
       [0.51515529, 0.48484471],
       [0.90476484, 0.09523516],
       [0.89223121, 0.10776879],
       [0.39417016, 0.60582984],
       [0.84777208, 0.15222792],
       [0.42121367, 0.57878633],
       [0.78323317, 0.21676683],
       [0.20728298, 0.79271702],
       [0.86632856, 0.13367144],
       [0.89205978, 0.10794022],
       [0.65410677, 0.34589323],
       [0.06142471, 0.93857529],
       [0.89457112, 0.10542888],
       [0.1196244 , 0.8803756 ],
       [0.09709896, 0.90290104],
       [0.80616967, 0.19383033],
       [0.79701095, 0.20298905],
       [0.36518944, 0.63481056],
       [0.37244792, 0.62755208],
       [0.57602702, 0.42397298],
       [0.86208204, 0.13791796],
       [0.07146327, 0.92853673],
       [0.3976427 , 0.6023573 ],
       [0.11335386, 0.88664614],
       [0.94080617, 0.05919383],
       [0.04717333, 0.95282667],
       [0.80390203, 0.19609797],
       [0.61786779, 0.38213221],
       [0.81560735, 0.18439265],
       [0.85043104, 0.14956896],
       [0.7166698 , 0.2833302 ],
       [0.50268207, 0.49731793],
       [0.45703295, 0.54296705],
       [0.38731618, 0.61268382],
       [0.78363596, 0.21636404],
       [0.37410018, 0.62589982],
       [0.33232497, 0.66767503],
       [0.88533049, 0.11466951],
       [0.89134701, 0.10865299],
       [0.89862144, 0.10137856],
       [0.51268297, 0.48731703],
       [0.92623663, 0.07376337],
       [0.18973604, 0.81026396],
       [0.11259046, 0.88740954],
       [0.88514949, 0.11485051],
       [0.50951902, 0.49048098],
       [0.90028481, 0.09971519],
       [0.10664146, 0.89335854],
       [0.53509472, 0.46490528],
       [0.47857404, 0.52142596],
       [0.6260173 , 0.3739827 ],
       [0.17546853, 0.82453147],
       [0.0969489 , 0.9030511 ],
       [0.62583853, 0.37416147],
       [0.86607642, 0.13392358],
       [0.91245112, 0.08754888],
       [0.88483864, 0.11516136],
       [0.88664437, 0.11335563],
       [0.0541983 , 0.9458017 ],
       [0.85749254, 0.14250746],
       [0.77287551, 0.22712449],
       [0.86111362, 0.13888638],
       [0.35985585, 0.64014415],
       [0.35037605, 0.64962395],
       [0.1752728 , 0.8247272 ],
       [0.33212313, 0.66787687],
       [0.6577647 , 0.3422353 ],
       [0.40276076, 0.59723924],
       [0.25534191, 0.74465809],
       [0.37358931, 0.62641069],
       [0.87143012, 0.12856988],
       [0.38629645, 0.61370355],
       [0.38428481, 0.61571519],
       [0.05246775, 0.94753225],
       [0.41336669, 0.58663331],
       [0.89043163, 0.10956837],
       [0.14355455, 0.85644545],
       [0.76121834, 0.23878166],
       [0.37305341, 0.62694659],
       [0.75468846, 0.24531154],
       [0.7713913 , 0.2286087 ],
       [0.67050133, 0.32949867],
       [0.89025769, 0.10974231],
       [0.76211583, 0.23788417],
       [0.81613101, 0.18386899],
       [0.39423669, 0.60576331],
       [0.30964114, 0.69035886],
       [0.39411514, 0.60588486],
       [0.63010559, 0.36989441],
       [0.32661363, 0.67338637],
       [0.8900586 , 0.1099414 ],
       [0.09616057, 0.90383943],
       [0.89000878, 0.10999122],
       [0.35815996, 0.64184004],
       [0.88384944, 0.11615056],
       [0.24351796, 0.75648204],
       [0.89573745, 0.10426255],
       [0.32220108, 0.67779892],
       [0.90653738, 0.09346262],
       [0.06300787, 0.93699213],
       [0.73483784, 0.26516216],
       [0.89902109, 0.10097891],
       [0.88673585, 0.11326415],
       [0.23188008, 0.76811992],
       [0.8926632 , 0.1073368 ],
       [0.88107081, 0.11892919],
       [0.8989055 , 0.1010945 ],
       [0.8896345 , 0.1103655 ],
       [0.69022624, 0.30977376],
       [0.71638671, 0.28361329],
       [0.39271818, 0.60728182],
       [0.05351097, 0.94648903],
       [0.3328485 , 0.6671515 ],
       [0.17739977, 0.82260023],
       [0.77004502, 0.22995498],
       [0.82131561, 0.17868439],
       [0.25006583, 0.74993417],
       [0.43674206, 0.56325794],
       [0.175903  , 0.824097  ],
       [0.11715778, 0.88284222],
       [0.89461131, 0.10538869],
       [0.0497978 , 0.9502022 ],
       [0.89222345, 0.10777655],
       [0.89851163, 0.10148837],
       [0.36121521, 0.63878479],
       [0.87326336, 0.12673664],
       [0.37741457, 0.62258543],
       [0.8193839 , 0.1806161 ],
       [0.87977326, 0.12022674],
       [0.90323694, 0.09676306],
       [0.56466979, 0.43533021],
       [0.50114325, 0.49885675],
       [0.81429067, 0.18570933],
       [0.92875858, 0.07124142],
       [0.87961164, 0.12038836],
       [0.8183139 , 0.1816861 ],
       [0.73546114, 0.26453886],
       [0.34018454, 0.65981546],
       [0.95681655, 0.04318345],
       [0.31641406, 0.68358594],
       [0.08226623, 0.91773377],
       [0.71687963, 0.28312037],
       [0.74685428, 0.25314572],
       [0.61808909, 0.38191091],
       [0.89333473, 0.10666527],
       [0.50600438, 0.49399562],
       [0.87267064, 0.12732936],
       [0.50587714, 0.49412286],
       [0.79743051, 0.20256949],
       [0.04712397, 0.95287603],
       [0.82000456, 0.17999544],
       [0.95673836, 0.04326164],
       [0.52850419, 0.47149581],
       [0.87518843, 0.12481157],
       [0.87907156, 0.12092844],
       [0.07326334, 0.92673666],
       [0.33909994, 0.66090006],
       [0.61724762, 0.38275238],
       [0.45214734, 0.54785266],
       [0.38974791, 0.61025209],
       [0.75650661, 0.24349339],
       [0.16744307, 0.83255693],
       [0.88825255, 0.11174745],
       [0.81344545, 0.18655455],
       [0.41363738, 0.58636262],
       [0.52471045, 0.47528955],
       [0.89299616, 0.10700384],
       [0.04064926, 0.95935074],
       [0.33162976, 0.66837024],
       [0.88807559, 0.11192441],
       [0.81925202, 0.18074798],
       [0.87057524, 0.12942476],
       [0.81917663, 0.18082337],
       [0.95396524, 0.04603476],
       [0.17396187, 0.82603813],
       [0.14304962, 0.85695038],
       [0.55874365, 0.44125635],
       [0.3031201 , 0.6968799 ],
       [0.1607609 , 0.8392391 ],
       [0.75646767, 0.24353233],
       [0.49726088, 0.50273912],
       [0.05107066, 0.94892934],
       [0.89713409, 0.10286591],
       [0.05038626, 0.94961374],
       [0.80795074, 0.19204926],
       [0.18385632, 0.81614368],
       [0.84576068, 0.15423932],
       [0.42799277, 0.57200723],
       [0.80779272, 0.19220728],
       [0.77027854, 0.22972146],
       [0.50314133, 0.49685867],
       [0.86086551, 0.13913449],
       [0.89772994, 0.10227006],
       [0.69933561, 0.30066439],
       [0.90444654, 0.09555346],
       [0.30924589, 0.69075411],
       [0.30368859, 0.69631141],
       [0.71414485, 0.28585515],
       [0.36443812, 0.63556188],
       [0.38732925, 0.61267075],
       [0.83690514, 0.16309486],
       [0.50411833, 0.49588167],
       [0.12635455, 0.87364545],
       [0.72611416, 0.27388584],
       [0.36570474, 0.63429526],
       [0.44611253, 0.55388747],
       [0.71986078, 0.28013922],
       [0.04793946, 0.95206054],
       [0.88083746, 0.11916254],
       [0.9014427 , 0.0985573 ],
       [0.88703416, 0.11296584],
       [0.67464514, 0.32535486],
       [0.34887597, 0.65112403],
       [0.51846348, 0.48153652],
       [0.61381443, 0.38618557],
       [0.38636333, 0.61363667],
       [0.75929072, 0.24070928],
       [0.09583505, 0.90416495],
       [0.88682997, 0.11317003],
       [0.10916576, 0.89083424],
       [0.86709176, 0.13290824],
       [0.14918928, 0.85081072],
       [0.86703309, 0.13296691],
       [0.08443661, 0.91556339],
       [0.32343603, 0.67656397],
       [0.87381676, 0.12618324],
       [0.38569977, 0.61430023],
       [0.92184601, 0.07815399],
       [0.78645801, 0.21354199],
       [0.65323862, 0.34676138],
       [0.05730326, 0.94269674],
       [0.86174519, 0.13825481],
       [0.89595375, 0.10404625],
       [0.44143009, 0.55856991],
       [0.86312146, 0.13687854],
       [0.62847033, 0.37152967],
       [0.7826645 , 0.2173355 ],
       [0.16275386, 0.83724614],
       [0.07027406, 0.92972594],
       [0.08893662, 0.91106338],
       [0.34056718, 0.65943282],
       [0.55408935, 0.44591065],
       [0.88621547, 0.11378453],
       [0.91636932, 0.08363068],
       [0.59446462, 0.40553538],
       [0.1484156 , 0.8515844 ],
       [0.8469534 , 0.1530466 ],
       [0.1711941 , 0.8288059 ],
       [0.23660311, 0.76339689],
       [0.11419274, 0.88580726],
       [0.86263964, 0.13736036],
       [0.353092  , 0.646908  ],
       [0.87639489, 0.12360511],
       [0.90180033, 0.09819967],
       [0.88590713, 0.11409287],
       [0.89540679, 0.10459321],
       [0.88889975, 0.11110025],
       [0.13687164, 0.86312836],
       [0.86597321, 0.13402679],
       [0.90845236, 0.09154764],
       [0.86591412, 0.13408588],
       [0.23985197, 0.76014803],
       [0.24316216, 0.75683784],
       [0.63467838, 0.36532162],
       [0.88564962, 0.11435038],
       [0.49836922, 0.50163078],
       [0.88559806, 0.11440194],
       [0.36038022, 0.63961978],
       [0.8508679 , 0.1491321 ],
       [0.50288258, 0.49711742],
       [0.8950487 , 0.1049513 ],
       [0.03693249, 0.96306751],
       [0.37286225, 0.62713775],
       [0.81533761, 0.18466239],
       [0.13491178, 0.86508822],
       [0.74040109, 0.25959891],
       [0.79746235, 0.20253765],
       [0.74376738, 0.25623262],
       [0.70360492, 0.29639508],
       [0.33211979, 0.66788021],
       [0.81342006, 0.18657994],
       [0.38238842, 0.61761158],
       [0.18900139, 0.81099861],
       [0.2478142 , 0.7521858 ],
       [0.91020286, 0.08979714],
       [0.88510721, 0.11489279],
       [0.46354569, 0.53645431],
       [0.81480052, 0.18519948],
       [0.88502954, 0.11497046],
       [0.49684216, 0.50315784],
       [0.40363787, 0.59636213],
       [0.81464684, 0.18535316],
       [0.73255157, 0.26744843],
       [0.91001547, 0.08998453],
       [0.88173436, 0.11826564],
       [0.06801598, 0.93198402],
       [0.80512756, 0.19487244],
       [0.51916956, 0.48083044],
       [0.89083736, 0.10916264],
       [0.89938882, 0.10061118],
       [0.61100524, 0.38899476],
       [0.85448142, 0.14551858],
       [0.87500973, 0.12499027],
       [0.38106692, 0.61893308],
       [0.21748568, 0.78251432],
       [0.60259509, 0.39740491],
       [0.81921415, 0.18078585],
       [0.74358991, 0.25641009],
       [0.48034182, 0.51965818],
       [0.85339123, 0.14660877],
       [0.78973854, 0.21026146],
       [0.88443256, 0.11556744],
       [0.45445135, 0.54554865],
       [0.08742232, 0.91257768],
       [0.31164638, 0.68835362],
       [0.57250299, 0.42749701],
       [0.68210634, 0.31789366],
       [0.88427638, 0.11572362],
       [0.68864228, 0.31135772],
       [0.88106923, 0.11893077],
       [0.80411089, 0.19588911],
       [0.72619934, 0.27380066],
       [0.54034621, 0.45965379],
       [0.09315085, 0.90684915],
       [0.87101225, 0.12898775],
       [0.13461191, 0.86538809],
       [0.49925577, 0.50074423],
       [0.73545066, 0.26454934],
       [0.69452003, 0.30547997],
       [0.35616783, 0.64383217],
       [0.44590675, 0.55409325],
       [0.81310467, 0.18689533],
       [0.23782773, 0.76217227],
       [0.88385901, 0.11614099],
       [0.51681835, 0.48318165],
       [0.76035523, 0.23964477],
       [0.90194346, 0.09805654],
       [0.71927956, 0.28072044],
       [0.81283378, 0.18716622],
       [0.67418034, 0.32581966],
       [0.89844061, 0.10155939],
       [0.94268346, 0.05731654],
       [0.12029036, 0.87970964],
       [0.90516332, 0.09483668],
       [0.28325252, 0.71674748],
       [0.72498312, 0.27501688],
       [0.3060952 , 0.6939048 ],
       [0.71256707, 0.28743293],
       [0.18255282, 0.81744718],
       [0.08413393, 0.91586607],
       [0.718611  , 0.281389  ],
       [0.6735091 , 0.3264909 ],
       [0.8818171 , 0.1181829 ],
       [0.25516246, 0.74483754],
       [0.66182371, 0.33817629],
       [0.14991847, 0.85008153],
       [0.88325674, 0.11674326],
       [0.89295041, 0.10704959],
       [0.36625506, 0.63374494],
       [0.87050355, 0.12949645],
       [0.11444624, 0.88555376],
       [0.18205959, 0.81794041],
       [0.88309919, 0.11690081],
       [0.03506327, 0.96493673],
       [0.5434607 , 0.4565393 ],
       [0.80515535, 0.19484465],
       [0.32055616, 0.67944384],
       [0.08378159, 0.91621841],
       [0.62132006, 0.37867994],
       [0.6831047 , 0.3168953 ],
       [0.04347595, 0.95652405],
       [0.65399443, 0.34600557],
       [0.81917159, 0.18082841],
       [0.16762517, 0.83237483],
       [0.06503037, 0.93496963],
       [0.30702359, 0.69297641],
       [0.69192196, 0.30807804],
       [0.69378696, 0.30621304],
       [0.83844168, 0.16155832],
       [0.892414  , 0.107586  ],
       [0.8894292 , 0.1105708 ],
       [0.35371959, 0.64628041],
       [0.29121347, 0.70878653],
       [0.72910875, 0.27089125],
       [0.20102066, 0.79897934],
       [0.872681  , 0.127319  ],
       [0.87025068, 0.12974932],
       [0.87334197, 0.12665803],
       [0.82827791, 0.17172209],
       [0.46010307, 0.53989693],
       [0.16037537, 0.83962463],
       [0.87790183, 0.12209817],
       [0.83160403, 0.16839597],
       [0.90659963, 0.09340037],
       [0.04850646, 0.95149354],
       [0.88290002, 0.11709998],
       [0.08699713, 0.91300287],
       [0.86540156, 0.13459844],
       [0.90314328, 0.09685672],
       [0.07114388, 0.92885612],
       [0.78211368, 0.21788632],
       [0.04305358, 0.95694642],
       [0.41435191, 0.58564809],
       [0.46088433, 0.53911567],
       [0.5527633 , 0.4472367 ],
       [0.69420163, 0.30579837],
       [0.58115539, 0.41884461],
       [0.37484389, 0.62515611],
       [0.24756204, 0.75243796],
       [0.37472461, 0.62527539],
       [0.09080945, 0.90919055],
       [0.35895485, 0.64104515],
       [0.88177902, 0.11822098],
       [0.05425115, 0.94574885],
       [0.91366117, 0.08633883],
       [0.88169941, 0.11830059],
       [0.84259827, 0.15740173]])

In [69]:
model.score(df2,y_pred)

1.0

In [70]:
a=df1.PassengerId

In [71]:
a.head()

0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64

In [72]:
x=pd.DataFrame(a)

In [73]:
x

     PassengerId
0              1
1              2
2              3
3              4
4              5
..           ...
886          887
887          888
888          889
889          890
890          891

[891 rows x 1 columns]

In [74]:
y=pd.DataFrame(y_pred)
y

     0
0    0
1    0
2    0
3    0
4    1
..  ..
413  0
414  1
415  0
416  0
417  0

[418 rows x 1 columns]

In [75]:
final=pd.concat([x,y],axis=1)

In [76]:
final

     PassengerId    0
0              1  0.0
1              2  0.0
2              3  0.0
3              4  0.0
4              5  1.0
..           ...  ...
886          887  NaN
887          888  NaN
888          889  NaN
889          890  NaN
890          891  NaN

[891 rows x 2 columns]

In [77]:
final.to_csv("titanic",index=False)